.banner .swiper {
    width: 350px;
    height: 400px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url('/src/assets/BBC1.jpg');
  }

  .banner .swiper-slide:nth-child(2n) {
    background-image: url('/src/assets/BBC2.jpg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('/src/assets/BBC3.jpg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('/src/assets/BBC4.jpg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url('/src/assets/BBC5.jpg');
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url('/src/assets/BBC6.jpg');
  }
  
  .banner .swiper-slide:nth-child(7n) {
    background-image: url('/src/assets/BBC10.jpg');
  }
  
  .banner .swiper-slide:nth-child(8n) {
    background-image: url('/src/assets/BBC7.jpg');
  }
  
  .banner .swiper-slide:nth-child(9n) {
    background-image: url('/src/assets/BBC8.jpg');
  }
  
  .banner .swiper-slide:nth-child(10n) {
    background-image: url('/src/assets/BBC9.jpg');
  }